.login-page{
   margin: 0;
   padding: 100px;
   box-sizing: border-box;
}

.login-page form{
    width: 500px;
    height: 400px;
    margin: 100px auto;
    background-color: #ff6f61;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

form input{
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: azure;
    margin: 20px;
}
form input:only-of-type('checkbox'){
    color: #ff6f61;
}

form input:focus{
    border: 2px solid red;

}
form button{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #ff6f61;
}
form button:hover{
    background-color: rgb(255, 220, 220);
}
   