.service-card {
    margin: 10px;
    padding: 0px;
    display: flex;
    font-family: 'QuickSand', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 1px 0px 17px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 17px 0px rgba(0,0,0,0.75);
}

.service-logo {
    color: #ff6f61;
    font-size: 50px;
}

.service-title {
    margin: 13px auto;
    color: #ff6f61;
}
.service-title h2{
    color: #ff6f61;
}

.service-desc {
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 21.37%, 1.00% 21.35%, 2.00% 21.38%, 3.00% 21.46%, 4.00% 21.59%, 5.00% 21.76%, 6.00% 21.99%, 7.00% 22.26%, 8.00% 22.57%, 9.00% 22.92%, 10.00% 23.30%, 11.00% 23.72%, 12.00% 24.17%, 13.00% 24.65%, 14.00% 25.14%, 15.00% 25.65%, 16.00% 26.18%, 17.00% 26.71%, 18.00% 27.24%, 19.00% 27.78%, 20.00% 28.30%, 21.00% 28.82%, 22.00% 29.32%, 23.00% 29.80%, 24.00% 30.25%, 25.00% 30.68%, 26.00% 31.07%, 27.00% 31.43%, 28.00% 31.74%, 29.00% 32.02%, 30.00% 32.25%, 31.00% 32.44%, 32.00% 32.57%, 33.00% 32.66%, 34.00% 32.70%, 35.00% 32.69%, 36.00% 32.63%, 37.00% 32.51%, 38.00% 32.35%, 39.00% 32.15%, 40.00% 31.89%, 41.00% 31.60%, 42.00% 31.26%, 43.00% 30.88%, 44.00% 30.47%, 45.00% 30.03%, 46.00% 29.57%, 47.00% 29.08%, 48.00% 28.57%, 49.00% 28.05%, 50.00% 27.52%, 51.00% 26.99%, 52.00% 26.45%, 53.00% 25.92%, 54.00% 25.41%, 55.00% 24.90%, 56.00% 24.42%, 57.00% 23.95%, 58.00% 23.52%, 59.00% 23.11%, 60.00% 22.74%, 61.00% 22.41%, 62.00% 22.12%, 63.00% 21.87%, 64.00% 21.67%, 65.00% 21.52%, 66.00% 21.42%, 67.00% 21.36%, 68.00% 21.36%, 69.00% 21.40%, 70.00% 21.50%, 71.00% 21.64%, 72.00% 21.83%, 73.00% 22.07%, 74.00% 22.36%, 75.00% 22.68%, 76.00% 23.04%, 77.00% 23.44%, 78.00% 23.87%, 79.00% 24.33%, 80.00% 24.81%, 81.00% 25.31%, 82.00% 25.83%, 83.00% 26.36%, 84.00% 26.89%, 85.00% 27.42%, 86.00% 27.95%, 87.00% 28.48%, 88.00% 28.99%, 89.00% 29.48%, 90.00% 29.95%, 91.00% 30.40%, 92.00% 30.81%, 93.00% 31.19%, 94.00% 31.54%, 95.00% 31.84%, 96.00% 32.10%, 97.00% 32.32%, 98.00% 32.49%, 99.00% 32.61%, 100.00% 32.68%);
    padding: 100px 30px;
    height: 250px;
    background-color: #ff6f61;
    border-radius: 20px;
}

.service-desc .desc {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
