.main {
    overflow-y: auto;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
    font-size: 16px;
    font-weight: 400;
}
.logo{
    max-width: 120px;
}

.header {
    position: fixed;
    margin-bottom: 30px;
}

.nav {
    position: sticky !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 7px 10px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    width: 100%;

}
.navbar-nav button{
    text-decoration: none;
    color: #1A1919;
    font-weight: 400;
    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.nav-item{
    transition: all 0.4s ease;
    font-weight: bolder;
    font-size: 15px;
    
}

.active-nav button{
    color: #ff6f61 !important;
    
  }
.nav a:hover{
    color: #CB181D;
}
.login-button{
    background-color: #ff6f61;
    text-align: center;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
.login-button:hover{
    background-color: #A61E24;
}

